{
  "spec": {
    "openapi": "3.0.0",
    "info": {
      "title": "Axonaut",
      "contact": {
        "email": "support@axonaut.com"
      },
      "version": "2.0.0"
    },
    "servers": [
      {
        "url": "https://axonaut.com"
      }
    ],
    "paths": {
      "/api/v2/companies": {
        "get": {
          "tags": [
            "Companies"
          ],
          "operationId": "get_aaa_api_v2_companies_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "search",
              "in": "query",
              "description": "Filters Companies whose name contains the specified character string",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "internal_id",
              "in": "query",
              "description": "Search for the Company whose internal id is the specified character string",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "type",
              "in": "query",
              "description": "Filters the Company type",
              "schema": {
                "type": "string",
                "default": "all",
                "enum": [
                  "customer",
                  "prospect",
                  "supplier",
                  "all"
                ]
              }
            },
            {
              "name": "siret",
              "in": "query",
              "description": "Filters the SIRET identifier of the Company",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "address_city",
              "in": "query",
              "description": "Filters the city of the Company",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "address_zipcode",
              "in": "query",
              "description": "Filters the zip code of the Company",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "is_prospect",
              "in": "query",
              "description": "Filters all prospects (true or false)",
              "schema": {
                "type": "string",
                "enum": [
                  "true",
                  "false"
                ]
              }
            },
            {
              "name": "is_customer",
              "in": "query",
              "description": "Filters all customers (true or false)",
              "schema": {
                "type": "string",
                "enum": [
                  "true",
                  "false"
                ]
              }
            },
            {
              "name": "is_supplier",
              "in": "query",
              "description": "Filters all suppliers (true or false)",
              "schema": {
                "type": "string",
                "enum": [
                  "true",
                  "false"
                ]
              }
            },
            {
              "name": "sort",
              "in": "query",
              "description": "Order of the returned data",
              "schema": {
                "type": "string",
                "default": "id",
                "enum": [
                  "id",
                  "name",
                  "address_city"
                ]
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/company.get"
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Companies"
          ],
          "summary": "Create a Company",
          "operationId": "post_api_v2_company_post",
          "requestBody": {
            "description": "The new Company. <br/> <br/>\n     *     If the company is a B2C company, you need to set the parameter 'isB2C' to true and provide one employee in the field 'employees'. The company name will be overwritten by the concatenation of the 'firstname' and the 'lastname' of the employee.<br/>\n     *     'employees' array is used only if 'isB2C' is set to true. If you need to add Employees to a Company, please use POST /employees.<br/>\n     *     Currency must be a 3 letters code : https://fr.iban.com/currency-codes (ISO 4217)",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/company.post"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/company.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/quotations": {
        "get": {
          "tags": [
            "Quotations"
          ],
          "operationId": "get_aaa_api_v2_quotations_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "sort",
              "in": "query",
              "description": "Order of the returned data",
              "schema": {
                "type": "string",
                "default": "id",
                "enum": [
                  "id",
                  "updatetime"
                ]
              }
            },
            {
              "name": "status",
              "in": "query",
              "description": "Filters the Quotations status",
              "schema": {
                "type": "string",
                "default": "all",
                "enum": [
                  "accepted",
                  "refused",
                  "pending",
                  "all"
                ]
              }
            },
            {
              "name": "date_before",
              "in": "query",
              "description": "Quotation date prior to the given date (format YYYY-MM-DD)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "date_after",
              "in": "query",
              "description": "Quotation date after the given date (format YYYY-MM-DD)",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/quotation.get"
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Quotations"
          ],
          "summary": "Create a Quotation",
          "operationId": "post_api_v2_quotations_create",
          "requestBody": {
            "description": "The new Quotation.<br/>If the properties product.id and product.internal_id are empty or missing, a new Product will be created.<br/>Dates must be in RFC3339 format.",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/quotation.post"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/quotation.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/events": {
        "get": {
          "tags": [
            "Events"
          ],
          "operationId": "get_aaa_api_v2_events_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "date[inf]",
              "in": "query",
              "description": "get event before date",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "date[sup]",
              "in": "query",
              "description": "get event after date",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "date[eq]",
              "in": "query",
              "description": "get event with date",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "date[neq]",
              "in": "query",
              "description": "get event with date different",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "orders[date]",
              "in": "query",
              "description": "order by event date. Allow 'asc' and 'desc' values",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "orders[creationDate]",
              "in": "query",
              "description": "order by creation date. Allow 'asc' and 'desc' values",
              "required": false,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/event.get"
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Events"
          ],
          "summary": "Create an Event",
          "operationId": "post_api_v2_event_post",
          "requestBody": {
            "description": "The new Event<br/>nature property : 1 = Meeting, 2 = Email, 3 = Phone call, 4 = Mail, 5 = Text message, 6 = Note<br/>duration property in minutes</br>Warning : attachments available only for emails (nature = 2)",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/event.post"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/event.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/me": {
        "get": {
          "tags": [
            "Account"
          ],
          "operationId": "get_aaa_api_v2_users_me",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "email": {
                        "type": "string"
                      },
                      "fullname": {
                        "type": "string"
                      },
                      "firstname": {
                        "type": "string"
                      },
                      "lastname": {
                        "type": "string"
                      },
                      "phone_number": {
                        "type": "string"
                      },
                      "cellphone_number": {
                        "type": "string"
                      },
                      "company_natures": {
                        "type": "string"
                      },
                      "roles": {
                        "type": "string"
                      },
                      "user_api_key": {
                        "type": "string"
                      },
                      "api_time_consumed": {
                        "type": "integer"
                      },
                      "account": {
                        "type": "array",
                        "items": {
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "company_name": {
                              "type": "string"
                            },
                            "company_address_street": {
                              "type": "string"
                            },
                            "company_address_zipcode": {
                              "type": "string"
                            },
                            "company_address_city": {
                              "type": "string"
                            },
                            "company_address_country": {
                              "type": "string"
                            },
                            "company_phone": {
                              "type": "string"
                            },
                            "company_siret": {
                              "type": "string"
                            },
                            "currency": {
                              "type": "string"
                            },
                            "account_status": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      }
                    },
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/companies/{companyId}": {
        "get": {
          "tags": [
            "Companies"
          ],
          "summary": "Get a specific Company",
          "operationId": "get_api_v2_company_get",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/company.get"
                  }
                }
              }
            }
          }
        },
        "delete": {
          "tags": [
            "Companies"
          ],
          "summary": "Delete a Company",
          "operationId": "delete_api_v2_company_delete",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "202": {
              "description": "Accepted"
            }
          }
        },
        "patch": {
          "tags": [
            "Companies"
          ],
          "summary": "Update a Company",
          "operationId": "patch_api_v2_company_patch",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "The new Company. <br/>Currency must be a 3 letters code : https://fr.iban.com/currency-codes (ISO 4217)",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/company.patch"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/company.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/companies/{companyId}/addresses": {
        "get": {
          "tags": [
            "Address"
          ],
          "summary": "Get all Addresses of a Company",
          "operationId": "get_api_v2_company_addresses_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/companyAddress.get"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/addresses": {
        "post": {
          "tags": [
            "Address"
          ],
          "summary": "Create an Address for a Company",
          "operationId": "post_api_v2_company_addresses_post",
          "requestBody": {
            "description": "The new Company. <br/>Currency must be a 3 letters code : https://fr.iban.com/currency-codes (ISO 4217)",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/companyAddress.post"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/companyAddress.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/addresses/{addressId}": {
        "delete": {
          "tags": [
            "Address"
          ],
          "summary": "Delete a Company Address",
          "operationId": "delete_api_v2_company_addresses_delete",
          "parameters": [
            {
              "name": "addressId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            }
          }
        },
        "patch": {
          "tags": [
            "Address"
          ],
          "summary": "Update an Address for a Company",
          "operationId": "patch_api_v2_company_addresses_patch",
          "parameters": [
            {
              "name": "addressId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "The new Company. <br/>Currency must be a 3 letters code : https://fr.iban.com/currency-codes (ISO 4217)",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/companyAddress.patch"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/companyAddress.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/employees": {
        "get": {
          "tags": [
            "Employees"
          ],
          "summary": "Get all Employees",
          "operationId": "get_api_v2_employees_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "email",
              "in": "query",
              "description": "Filters the email of the Employee",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "firstname",
              "in": "query",
              "description": "Filters the firstname of the Employee",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "lastname",
              "in": "query",
              "description": "Filters the lastname of the Employee",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "phone",
              "in": "query",
              "description": "Filters the phone/cellphone of the Employee containing the given character string",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/employee.get"
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Employees"
          ],
          "summary": "Create an Employee",
          "operationId": "post_api_v2_employees_post",
          "requestBody": {
            "description": "The new Employee <br/> Note that it is not allowed to add a new employee to a B2C company",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/employee.post"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/employee.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/companies/{companyId}/employees": {
        "get": {
          "tags": [
            "Employees"
          ],
          "summary": "Get all Employees of a specific Company",
          "operationId": "get_api_v2_company_employees_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/employee.get"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/employees/{employeeId}": {
        "get": {
          "tags": [
            "Employees"
          ],
          "summary": "Get a specific Employee",
          "operationId": "get_api_v2_employees_get",
          "parameters": [
            {
              "name": "employeeId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/employee.get"
                  }
                }
              }
            }
          }
        },
        "delete": {
          "tags": [
            "Employees"
          ],
          "summary": "Delete an Employee",
          "operationId": "delete_api_v2_employees_delete",
          "parameters": [
            {
              "name": "employeeId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            }
          }
        },
        "patch": {
          "tags": [
            "Employees"
          ],
          "summary": "Update an Employee",
          "operationId": "patch_api_v2_employees_patch",
          "parameters": [
            {
              "name": "employeeId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "The new Employee",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/employee.patch"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/employee.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/company-categories": {
        "get": {
          "tags": [
            "Company Category"
          ],
          "summary": "Get all Company Categories",
          "operationId": "get_api_v2_company_categories_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/companyNature.get"
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Company Category"
          ],
          "summary": "Create a Company Category",
          "operationId": "post_api_v2_company_categories_post",
          "requestBody": {
            "description": "The new Company nature.",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/companyNature.post"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/companyNature.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/documents/{documentId}": {
        "get": {
          "tags": [
            "Company document"
          ],
          "summary": "Get a specific Document",
          "operationId": "get_api_v2_document_get",
          "parameters": [
            {
              "name": "documentId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/document.get"
                  }
                }
              }
            }
          }
        },
        "patch": {
          "tags": [
            "Company document"
          ],
          "summary": "Update a Document",
          "operationId": "patch_api_v2_document_patch",
          "parameters": [
            {
              "name": "documentId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/document.patch"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/document.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/companies/{companyId}/documents": {
        "get": {
          "tags": [
            "Company document"
          ],
          "summary": "Get all Documents of a Company",
          "operationId": "get_api_v2_document_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/document.get"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/documents": {
        "post": {
          "tags": [
            "Company document"
          ],
          "summary": "Add a Document to a Company (URL only, no file)",
          "operationId": "post_api_v2_document_post",
          "requestBody": {
            "description": "The new Document",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/document.post"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/document.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/documents/{documentId}/download": {
        "get": {
          "tags": [
            "Company document"
          ],
          "summary": "Download a Document",
          "operationId": "get_api_v2_document_download",
          "parameters": [
            {
              "name": "alt",
              "in": "query",
              "description": "If this parameters take the value ?alt=media, downloads the binary file instead of returning the base64",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "documentId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "description": "Base64 content file",
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/bank-transactions": {
        "get": {
          "tags": [
            "Bank"
          ],
          "summary": "Get all Bank Transactions",
          "operationId": "get_api_v2_bank_transactions_list",
          "parameters": [
            {
              "name": "created_before",
              "in": "query",
              "description": "Transactions' creation date prior to the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "created_after",
              "in": "query",
              "description": "Transactions' creation date after the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "operation_date_before",
              "in": "query",
              "description": "Transactions' operation date prior to the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "operation_date_after",
              "in": "query",
              "description": "Transactions' operation date after the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "processed_before",
              "in": "query",
              "description": "Transactions' processed date before the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "processed_after",
              "in": "query",
              "description": "Transactions' processed date after the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/bankTransaction.get"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/bank-accounts": {
        "get": {
          "tags": [
            "Bank"
          ],
          "summary": "Get all Bank Accounts",
          "operationId": "get_api_v2_bank_accounts_list",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/bankAccount.get"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/invoices": {
        "get": {
          "tags": [
            "Sales & Invoices"
          ],
          "summary": "Get all Invoices",
          "operationId": "get_api_v2_invoice_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "number",
              "in": "query",
              "description": "Search for the Invoice which number is the specified character string",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "internal_ref",
              "in": "query",
              "description": "Search for the Invoice which internal reference is the specified character string",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "date_before",
              "in": "query",
              "description": "Invoice date prior to the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "date_after",
              "in": "query",
              "description": "Invoice date after the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "paid_date",
              "in": "query",
              "description": "Invoice date of payment (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "is_paid",
              "in": "query",
              "description": "Filters all paid or unpaid invoices (true or false)",
              "schema": {
                "type": "string",
                "enum": [
                  "true",
                  "false"
                ]
              }
            },
            {
              "name": "updated_before",
              "in": "query",
              "description": "Invoice last updated date prior to the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "updated_after",
              "in": "query",
              "description": "Invoice last updated date after the given date(format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "creation_date_before",
              "in": "query",
              "description": "Invoice creation date prior to the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "creation_date_after",
              "in": "query",
              "description": "Invoice creation date after given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/invoice.get"
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Sales & Invoices"
          ],
          "summary": "Create an Invoice",
          "operationId": "post_api_v2_invoice_post",
          "requestBody": {
            "description": "The new Invoice.<br />\n     *          Either fill company_id or employee_email to assign the invoice to a Company. employee_email must be the email of a known Contact within the Company.<br />\n     *          property date has to be posterior to last invoice's date. Default value : date of the request.<br />\n     *          If the properties product.id and product.internal_id are empty or missing, a new Product will be created.",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invoice.post"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/invoice.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/companies/{companyId}/invoices": {
        "get": {
          "tags": [
            "Sales & Invoices"
          ],
          "summary": "Get all Invoices of a Company",
          "operationId": "get_api_v2_company_invoice_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "number",
              "in": "query",
              "description": "Search for the Invoice which number is the specified character string",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "internal_ref",
              "in": "query",
              "description": "Search for the Invoice which internal reference is the specified character string",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "date_before",
              "in": "query",
              "description": "Invoice date prior to the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "date_after",
              "in": "query",
              "description": "Invoice date after the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "paid_date",
              "in": "query",
              "description": "Invoice date of payment (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "is_paid",
              "in": "query",
              "description": "Filters all paid or unpaid invoices (true or false)",
              "schema": {
                "type": "string",
                "enum": [
                  "true",
                  "false"
                ]
              }
            },
            {
              "name": "updated_before",
              "in": "query",
              "description": "Invoice last updated date prior to the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "updated_after",
              "in": "query",
              "description": "Invoice last updated date after the given date(format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "creation_date_before",
              "in": "query",
              "description": "Invoice creation date prior to the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "creation_date_after",
              "in": "query",
              "description": "Invoice creation date after given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/invoice.get"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/invoices/{invoiceId}": {
        "get": {
          "tags": [
            "Sales & Invoices"
          ],
          "summary": "Get a specific Invoice",
          "operationId": "get_api_v2_invoice_get",
          "parameters": [
            {
              "name": "invoiceId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/invoice.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/themes": {
        "get": {
          "tags": [
            "Invoices Theme"
          ],
          "summary": "Get all Themes",
          "operationId": "get_api_v2_account_invoice_parameters_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/themes.get"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/payments": {
        "get": {
          "tags": [
            "Invoice Payments"
          ],
          "summary": "Get all Invoice Payments",
          "operationId": "get_api_v2_invoice_payments_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "company_id",
              "in": "query",
              "description": "Filters payments by Company id",
              "required": false,
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "invoice_id",
              "in": "query",
              "description": "Filters payments by Invoice id",
              "required": false,
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "invoice_number",
              "in": "query",
              "description": "Filters payments by Invoice number",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "date_before",
              "in": "query",
              "description": "Invoice payment date prior to the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "date_after",
              "in": "query",
              "description": "Invoice payment date after the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/invoicePayment.get"
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Invoice Payments"
          ],
          "summary": "Create an Invoice Payment",
          "operationId": "post_api_v2_payment_create",
          "requestBody": {
            "description": "The new Payment <br/> nature property : 1 = Debit, 2 = Transfer, 3 = Check, 4 = Credit card, 5 = Cash, 6 = Other",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invoicePayment.post"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/invoicePayment.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/contracts": {
        "get": {
          "tags": [
            "Contract"
          ],
          "summary": "Get all Orders",
          "operationId": "get_api_v2_contract_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "id",
              "in": "query",
              "description": "A list of comma-separated contract IDs",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "updated_before",
              "in": "query",
              "description": "Order update date after the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "updated_after",
              "in": "query",
              "description": "Order update date prior to the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/contract.get"
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Contract"
          ],
          "summary": "Create an Order",
          "operationId": "post_api_v2_contract_create",
          "requestBody": {
            "description": "The new Order.<br>Properties start_date, end_date, expected_delivery_date, first_invoice_planned_date must be in RFC3339 format.<br>Property generate_and_send_recurring_invoices : 0 = Do not generate and send invoices ; 1 = Generate and send automatically ; 2 = Generate without sending",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contract.post"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/contract.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/companies/{companyId}/contracts": {
        "get": {
          "tags": [
            "Contract"
          ],
          "summary": "Get all Orders of a Company",
          "operationId": "get_api_v2_company_contract_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "updated_before",
              "in": "query",
              "description": "Order update date after the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "updated_after",
              "in": "query",
              "description": "Order update date prior to the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/contract.get"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/contracts/{contractId}": {
        "get": {
          "tags": [
            "Contract"
          ],
          "summary": "Get a specific Order",
          "operationId": "get_api_v2_contract_get",
          "parameters": [
            {
              "name": "contractId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/contract.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/companies/{companyId}/quotations": {
        "get": {
          "tags": [
            "Quotations"
          ],
          "summary": "Get all Quotations of a Company",
          "operationId": "get_api_v2_company_quotation_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "sort",
              "in": "query",
              "description": "Order of the returned data",
              "schema": {
                "type": "string",
                "default": "id",
                "enum": [
                  "id",
                  "updatetime"
                ]
              }
            },
            {
              "name": "status",
              "in": "query",
              "description": "Filters the Quotations status",
              "schema": {
                "type": "string",
                "default": "all",
                "enum": [
                  "accepted",
                  "refused",
                  "pending",
                  "all"
                ]
              }
            },
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/quotation.get"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/quotations/{quotationId}": {
        "get": {
          "tags": [
            "Quotations"
          ],
          "summary": "Get a specific Quotation",
          "operationId": "get_api_v2_quotations_get",
          "parameters": [
            {
              "name": "quotationId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/quotation.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/expenses": {
        "get": {
          "tags": [
            "Expenses"
          ],
          "summary": "Get all Expenses",
          "operationId": "get_api_v2_expenses_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "orderby",
              "in": "query",
              "description": "Order of the returned data",
              "schema": {
                "type": "string",
                "default": "id",
                "enum": [
                  "last_update_date",
                  "id"
                ]
              }
            },
            {
              "name": "creation_date_before",
              "in": "query",
              "description": "Expense creation date prior to the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "creation_date_after",
              "in": "query",
              "description": "Expense creation date after given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "updated_before",
              "in": "query",
              "description": "Expense last updated date prior to the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "updated_after",
              "in": "query",
              "description": "Expense last updated date after the given date(format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "date_before",
              "in": "query",
              "description": "Expense date prior to the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "date_after",
              "in": "query",
              "description": "Expense date after the given date(format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "is_paid",
              "in": "query",
              "description": "Filters all paid or unpaid expenses (true or false)",
              "schema": {
                "type": "string",
                "enum": [
                  "true",
                  "false"
                ]
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/expense.get"
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Expenses"
          ],
          "summary": "Create an Expense",
          "operationId": "post_api_v2_expenses_create",
          "requestBody": {
            "description": "The new Expense.",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/expense.post"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/expense.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/expenses/{expenseId}": {
        "get": {
          "tags": [
            "Expenses"
          ],
          "summary": "Get a specific Expense",
          "operationId": "get_api_v2_expenses_get",
          "parameters": [
            {
              "name": "expenseId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/expense.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/expense-payments": {
        "get": {
          "tags": [
            "Expense Payments"
          ],
          "summary": "Get all Expense Payments",
          "operationId": "get_api_v2_expense_payments_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "date_before",
              "in": "query",
              "description": "Expense payment date prior to the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "date_after",
              "in": "query",
              "description": "Expense payment date after the given date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/expensePayment.get"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/expenses/payments": {
        "post": {
          "tags": [
            "Expense Payments"
          ],
          "summary": "Create an Expense Payment",
          "operationId": "post_api_v2_expenses_payments_create",
          "requestBody": {
            "description": "The new Expense Payment <br/> nature property : 1 = Debit, 2 = Transfer, 3 = Check, 4 = Credit card, 5 = Cash, 6 = Other",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/expensePayment.post"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/expensePayment.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/suppliers": {
        "get": {
          "tags": [
            "Suppliers"
          ],
          "summary": "Get all Suppliers",
          "operationId": "get_api_v2_suppliers_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/supplier.get"
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Suppliers"
          ],
          "summary": "Create a Supplier",
          "operationId": "post_api_v2_suppliers_create",
          "requestBody": {
            "description": "The new Supplier",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier.post"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/supplier.minimal"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/suppliers/{supplierId}": {
        "get": {
          "tags": [
            "Suppliers"
          ],
          "summary": "Get a specific Supplier",
          "operationId": "get_api_v2_suppliers_get",
          "parameters": [
            {
              "name": "supplierId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/supplier.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/supplier-contracts": {
        "get": {
          "tags": [
            "Supplier contract"
          ],
          "summary": "Get all Supplier Contracts",
          "operationId": "get_api_v2_suppliers_contract_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "start_date_after",
              "in": "query",
              "description": "Supplier contract start date after the given date (format YYYY-MM-DD)",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/supplierContract.get"
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Supplier contract"
          ],
          "summary": "Create a supplier contract",
          "operationId": "post_api_v2_supplier_contract_post",
          "requestBody": {
            "description": "The required data to create a supplier contract <br /> - 'title' for the supplier contract <br/> - 'supplier_id' the id of the supplier <br/> - 'title' and 'pre_tax_amount' for each expense <br/> <br/>",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplierContract.post"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Created",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/supplierContract.get"
                    }
                  }
                }
              }
            },
            "204": {
              "description": "It is triggered when no ressources have been updated or when there is no remaining merchandise to be received"
            },
            "404": {
              "description": "It is triggered when the requested supplier is not found"
            }
          }
        }
      },
      "/api/v2/supplier-contracts/{supplierContractId}": {
        "get": {
          "tags": [
            "Supplier contract"
          ],
          "summary": "Get a specific Supplier Contract",
          "operationId": "get_api_v2_suppliers_contract_get",
          "parameters": [
            {
              "name": "supplierContractId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/supplierContract.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/supplier-deliveries": {
        "get": {
          "tags": [
            "Supplier delivery"
          ],
          "summary": "Get all Suppliers deliveries",
          "operationId": "get_api_v2_suppliers_deliveries_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/supplierDelivery.get"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/supplier-deliveries/{supplierDeliveryId}": {
        "get": {
          "tags": [
            "Supplier delivery"
          ],
          "summary": "Get a specific supplier delivery",
          "operationId": "get_api_v2_suppliers_delivery_get",
          "parameters": [
            {
              "name": "supplierDeliveryId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/supplierDelivery.get"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/supplier-deliveries/{supplierDeliveryId}/receipt": {
        "post": {
          "tags": [
            "Supplier delivery"
          ],
          "summary": "Receive merchandise for a specific supplier delivery",
          "operationId": "post_api_v2_suppliers_delivery_receipt_post",
          "parameters": [
            {
              "name": "supplierDeliveryId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "The required data to receive merchandises for a supplier delivery",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplierDelivery.post"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/supplierDelivery.get"
                    }
                  }
                }
              }
            },
            "204": {
              "description": "It is triggered when no ressources have been updated or when there is no remaining merchandise to be received"
            },
            "400": {
              "description": "It is triggered when the parameter 'supplierDeliveryId' is not a valid number, when the header 'userApiKey' is missing or when at least one of the quantities you wish to receive is greater than the quantity remaining to be received"
            },
            "404": {
              "description": "It is triggered when the requested supplier delivery or when at least one of the merchandises to be received is not found"
            }
          }
        }
      },
      "/api/v2/supplier-deliveries/{supplierDeliveryId}/receipt/{supplierDeliveryReceiptId}": {
        "delete": {
          "tags": [
            "Supplier delivery"
          ],
          "summary": "Delete a merchandise receipt from a specific supplier delivery",
          "operationId": "delete_api_v2_suppliers_delivery_receipt_delete",
          "parameters": [
            {
              "name": "supplierDeliveryId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "supplierDeliveryReceiptId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "The supplier delivery receipt was deleted successfully"
            },
            "404": {
              "description": "It is triggered when the requested supplier delivery or when the supplier delivery receipt is not found"
            }
          }
        }
      },
      "/api/v2/diverse-operations": {
        "get": {
          "tags": [
            "Diverse operations"
          ],
          "summary": "Get all Diverse Operations",
          "operationId": "get_api_v2_diverseOperation_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/diverseOperation.get"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/diverse-operations/{diverseOperationId}": {
        "get": {
          "tags": [
            "Diverse operations"
          ],
          "summary": "Get a specific Diverse Operation",
          "operationId": "get_api_v2_diverseOperation_get",
          "parameters": [
            {
              "name": "diverseOperationId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/diverseOperation.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/tasks": {
        "get": {
          "tags": [
            "Tasks"
          ],
          "summary": "Get all Tasks",
          "operationId": "get_api_v2_task_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/task.get"
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Tasks"
          ],
          "summary": "Create a Task",
          "operationId": "post_api_v2_task_post",
          "requestBody": {
            "description": "The new task<br />\n     *          Priority values : basse, normale, haute, urgente.",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/task.post"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/task.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/tasks/{taskId}": {
        "get": {
          "tags": [
            "Tasks"
          ],
          "summary": "Get a specific Task",
          "operationId": "get_api_v2_task_get",
          "parameters": [
            {
              "name": "taskId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/task.get"
                  }
                }
              }
            }
          }
        },
        "delete": {
          "tags": [
            "Tasks"
          ],
          "summary": "Delete a task",
          "operationId": "delete_api_v2_task_delete",
          "parameters": [
            {
              "name": "taskId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Accepted"
            }
          }
        }
      },
      "/api/v2/timetrackings": {
        "get": {
          "tags": [
            "Timetrackings"
          ],
          "summary": "Get Timetrackings on all tasks or tickets or a filtered set of tasks or tickets.",
          "operationId": "get_api_v2_timetracking_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "tickets",
              "in": "query",
              "description": "A comma-separated list of ticket identifiers.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "tasks",
              "in": "query",
              "description": "A comma-separated list of task identifiers.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "workforce",
              "in": "query",
              "description": "A workforce identifier.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "ended_before",
              "in": "query",
              "description": "Timetracking ended before the given date. (format DD/MM/YYYY HH:MM:SS)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "started_after",
              "in": "query",
              "description": "Timetracking started after the given date. (format DD/MM/YYYY  HH:MM:SS)",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/timetracking.get"
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Timetrackings"
          ],
          "summary": "Create a Timetracking entry for a project, task, ticket .",
          "description": "..",
          "operationId": "post_api_v2_timetracking_post",
          "requestBody": {
            "description": "The new timetracking",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/timetracking.post"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/timetracking.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/timetrackings/{timetrackingId}": {
        "delete": {
          "tags": [
            "Timetrackings"
          ],
          "summary": "Delete a Timetracking.",
          "operationId": "delete_api_v2_timetracking_delete",
          "parameters": [
            {
              "name": "timetrackingId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/timetracking.get"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/tasks/{taskId}/timetrackings": {
        "get": {
          "tags": [
            "Timetrackings"
          ],
          "summary": "Get Timetrackings on a task.",
          "operationId": "get_api_v2_task_timetracking_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "workforce",
              "in": "query",
              "description": "A workforce identifier.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "ended_before",
              "in": "query",
              "description": "Timetracking ended before the given date. (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "started_after",
              "in": "query",
              "description": "Timetracking started after the given date. (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "weekDate",
              "in": "query",
              "description": "Week date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "taskId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/timetracking.get"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/tickets/{ticketId}/timetrackings": {
        "get": {
          "tags": [
            "Timetrackings"
          ],
          "summary": "Get Timetrackings on a ticket.",
          "operationId": "get_api_v2_ticket_timetracking_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "workforce",
              "in": "query",
              "description": "A workforce identifier.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "ended_before",
              "in": "query",
              "description": "Timetracking ended before the given date. (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "started_after",
              "in": "query",
              "description": "Timetracking started after the given date. (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "weekDate",
              "in": "query",
              "description": "Week date (format DD/MM/YYYY)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "ticketId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/timetracking.get"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/taskNatures": {
        "get": {
          "tags": [
            "Tasks Nature"
          ],
          "summary": "Get all TaskNatures",
          "operationId": "get_api_v2_task_nature_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/taskNature.get"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/projects": {
        "get": {
          "tags": [
            "Projects"
          ],
          "summary": "Get all Projects",
          "operationId": "get_api_v2_project_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/project.get"
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Projects"
          ],
          "summary": "Create a Project",
          "operationId": "post_api_v2_projects_post",
          "requestBody": {
            "description": "The new projects",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/project.post"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/project.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/projects/{projectId}": {
        "get": {
          "tags": [
            "Projects"
          ],
          "summary": "Get a specific Project",
          "operationId": "get_api_v2_project_get",
          "parameters": [
            {
              "name": "projectId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/project.get"
                  }
                }
              }
            }
          }
        },
        "delete": {
          "tags": [
            "Projects"
          ],
          "summary": "Delete a Project",
          "operationId": "delete_api_v2_projects_delete",
          "parameters": [
            {
              "name": "projectId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Accepted"
            }
          }
        },
        "patch": {
          "tags": [
            "Projects"
          ],
          "summary": "Update a Project",
          "operationId": "patch_api_v2_projects_patch",
          "parameters": [
            {
              "name": "projectId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "Properties to update",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/project.patch"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/project.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/projectNatures": {
        "get": {
          "tags": [
            "Projects nature"
          ],
          "summary": "Get all ProjectNatures",
          "operationId": "get_api_v2_project_nature_list",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/projectNature.get"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/products": {
        "get": {
          "tags": [
            "Products & Services"
          ],
          "summary": "Get all Products",
          "operationId": "get_api_v2_products_list",
          "parameters": [
            {
              "name": "page",
              "in": "header",
              "description": "Page number.",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "internal_id",
              "in": "query",
              "description": "Search for the Product which internal id is the specified character string",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "product_code",
              "in": "query",
              "description": "Filters Products which product code contains the specified character string",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "with_disabled",
              "in": "query",
              "description": "Filters disabled products (true or false)",
              "schema": {
                "type": "string",
                "enum": [
                  "true",
                  "false"
                ]
              }
            },
            {
              "name": "name",
              "in": "query",
              "description": "Search for the Product which name contains the string",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/product.get"
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Products & Services"
          ],
          "summary": "Create a Product",
          "operationId": "post_api_v2_products_post",
          "requestBody": {
            "description": "The new Product.<br>Product type : 601 = Raw material purchase, 701 = Sales of finished goods, 706 = Sales of services, 707 = Sales of merchandise",
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/product.post"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/product.get"
                  }
                }
              }
            }
          }
        }
      },
      "/api/v2/products/{productId}": {
        "get": {
          "tags": [
            "Products & Services"
          ],
          "summary": "Get a specific Product",
          "operationId": "get_api_v2_products_get",
          "parameters": [
            {
              "name": "productId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/product.get"
                  }
                }
              }
            }
          }
        },
        "patch": {
          "tags": [
            "Products & Services"
          ],
          "summary": "Update a Product",
          "operationId": "patch_api_v2_products_patch",
          "parameters": [
[...]
